@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Oleo+Script+Swash+Caps:wght@400;700&family=Oleo+Script:wght@400;700&display=swap');

body{
    background-color: #F5EEC7;
}
a{
    text-decoration: none;
    
}

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #D9A032
}
.logo {
    font-weight: 600;
    height: 80px;
    font-family: "Oleo Script", system-ui;
    color:white;
    font-size:250%;
   
}

#nav-opc{
    background-color: #8C5305;
}


/* .titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:larger;

} */
#cart-bottom{display: inline-block;}


#fotos-productos {
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre completamente el contenedor */
}

.text-uppercase{
    font-family: "Oleo Script", system-ui;
    font-weight: 32 px;
    color:white;
}

.img-btn{
    height: 50px;
}

.inicio{
    font-size: "McLaren", sans-serif;
    color: white;
    height: 30 px;
}

.letter{
 color: white;
}

/* [class*="logo"]{
    height: 200px ;
} */

.footer-container{
    background-color: #8C5305;
}

.form-pago{
    margin-top: 20px;
    
}

#contenedor-pago{
margin-top:30px;
background: #B26829;
border-radius: 5px ;
    
}

.titulo{
    font-family: "Oleo Script", system-ui;
    font-size: 30px;
    color:white;
    margin: 10px;
}

.invalid-feedback {
    color: #F3FF00; 
}
